$green: #17E227;
$blue: rgb(0,110,199);
$orange:  #ee8400;
$violet:  #60007a;
$red: #990000;

$light-brown: rgb(176,165,109);
$light-orange: rgb(223,125,0);

$grey-darkest: #6B6B6B;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #FFFFFF;
$black: #151515;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);
